*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: bolder 2.5rem monospace;
    text-align: center;
}
body, main, .data-container, .time-container{
    display: flex;
    justify-content: center;
}
body{
    height: 1200px;
    align-items: center;
    color: white;
    text-shadow:0 0 2px #fa643e;
}
main{
    width: 100%;
    height: 100%;
    background-image: url(../assets/cool-background.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.data-container{
    padding: 20px;
    margin: 100px;
    width: 800px;
    height: 20%;
    flex-direction: column;
    border-radius: 20px;
}
.data-border{
    border: 5px solid#fc876a;
}
.time-container{
    width: 100%;
}
.seconds{
    display: none;
}
.text{
    font-size: 0.8rem;
}


/* mediaqueries despues  */
@media (min-width: 530px) {
    .time-container{
        justify-content: center;
    }
    .seconds{
        display: flex;
    }
}